<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="/"></ion-back-button>
    <ion-title>Memorize</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Completion Stats</h2>
  <table>
    <tr>
      <td>36. Yaseen یس	</td>
      <td>(12%) </td>
      <td>5/30 Ayahs</td>
    </tr>
  </table>
  
  <h2>Daily Memorization Stats</h2>
  <div class="tableWrapper">
    <table>
  <thead>
    <tr>
      <th>Date</th>
      <th>No.</th>
      <th>Surah</th>
      <th>From</th>
      <th>To</th>
      <th>Finished</th>
    </tr>
  </thead>
  <tbody>
    <tr class="row">
      <td>01/01/21</td>
      <td>36</td>
      <td>یس</td>
      <td>1</td>
      <td>5</td>
      <td>YES</td>
    </tr>
    <tr class="row">
      <td>01/01/21</td>
      <td>36</td>
      <td class="arName">یس</td>
      <td>6</td>
      <td>12</td>
      <td>NO</td>
    </tr>
  </tbody>
  </table>
  </div>
  <ion-fab vertical="bottom" horizontal="right" slot="fixed">
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button></ion-fab>
</ion-content>
