@font-face {
    font-family: "Indopak";
    src: url("./../../../assets/fonts/Naskh-IndoPak.woff2");
}

.arName {
    font-family: Indopak;
}
div.tableWrapper {
    
  }
  .tableWrapper table{text-align:center;padding:0;margin:0;}
  .tableWrapper th,td{padding:10px 3px;border: 1px solid;}
  