ion-content {
  --background: url("./../../../assets/border.svg") no-repeat center center
    fixed;
  --background-size: cover;
  overflow: hidden;
}

.ar,
.ur {
  text-align: justify;
  text-align-last: justify;
  -moz-text-align-last: justify;
  -webkit-text-align-last: justify;
  -ms-text-align-last: justify;
  -o-text-align-last: justify;
  line-height: 2em;
}
.ar table,
.ur table {
  margin: 0 auto;
}
.page-wrapper {
  max-width: 324px; //360px;
  margin: 0 auto;
  .page-top-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    // justify-content: space-between;
    margin-bottom: -5px;
    min-height: 34px;
    span.juz-number {
      font-size: small;
      text-align-last: start;
    }
    span.page-number {
      font-size: x-large;
      text-align-last: center;
    }
    span.surah-number {
      font-size: small;
      text-align-last: end;
    }
  }
  .content-wrapper {
    height: 576px; //height: 75vh; aspect-ratio: 9/16;
    padding: 5px;
    border: 2px solid;
    user-select: text;
    // background-image: url("../../../assets/quran-pg466-aspect.PNG");
  }
}
.rtl {
  direction: rtl;
}
.ar {
  font-size: 16px; // 4.6vw; //screen:fontsize in px=> 345:16,300:14,250:11 ** 18Font:42DivHeight:390Width
  font-family: Indopak;
  direction: rtl;
}
.ar2 {
  font-family: Muhammadi;
  font-size: 17px;
  direction: rtl;
}
.small-text {
  font-size: small;
}
.ar .line {
  border-bottom: 0.5px solid #cecece;
  height: 38px; //screen:height in px=> 345:32,300:28,250:22. With aspect-ratio, height: calc(78vh*0.066);
}
.ar .line:hover {
  background-color: var(--success-light); //#ebfef6; // #ebf2fe;
}
.ur {
  font-family: "Mehr", "Jameel Noori Nastaleeq", "Segoe UI", Tahoma, Verdana,
    sans-serif;
  direction: rtl;
  font-size: 13px;
}
ion-footer {
  text-align: center;
}
.btmNav {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.popup,
.trans {
  font-family: "Mehr", "Jameel Noori Nastaleeq", "Segoe UI", Tahoma, Verdana,
    sans-serif;
  direction: rtl;
}
.popup {
  opacity: 0;
  height: 0;
  position: absolute;
  left: 0;
  background: var(--ion-color-light);
}
.popup-header {
  font-size: small;
  color: var(--ion-color-medium);
}
.centered-table-text {
  text-align-last: center;
}

.surah-name,
.bism {
  text-align-last: center;
}
.surah-name {
  font-size: x-large;
}
.bism {
  font-size: larger;
  color: var(--ion-color-medium);
}

.emphasize-btn {
  color: var(--ion-color-primary);
  // border-radius: 50%;
  // background: var(--success-light);
}
.highlight-line {
  background-color: #e2edff;
}
.ruku-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 4px;
  font-size: 14px;
  position: absolute;
  left: -18px;
  line-height: 8px;
  top: 2px;
  &.span:nth-child(3) {
    margin-top: 3px;
    font-size: 14px;
  }
}

.indices {
  span.index {
    font-size: xx-small;
    font-family: sans-serif;
    background: var(--ion-color-light);
    padding: 2px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  span.location {
    position: absolute;
    left: 5px;
    top: 5px;
    color: var(--ion-color-medium);
    rotate: -45deg;
    font-size: xx-small;
  }
}
.quran-kareem-text {
  font-size: 40px;
  border: none !important;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.surah-start-line {
  text-align-last: center;
  font-size: small;
  color: var(--ion-color-medium-tint);
}
.surah-end-line {
  text-align-last: center;
}
.bism-line {
  text-align-last: center;
  font-size: larger;
  color: var(--ion-color-medium);
  font-family: Indopak;
}
.page-num-input {
  width: 50px;
  display: inline-flex;
  background: var(--ion-color-light);
  border: 1px solid;
}
.popover-wrapper {
  ion-item {
    font-size: small;
  }
  .result-heading {
    background-color: black;
    color: white;
  }
  .selected-result {
    background-color: #a3c0ff;
  }
}
