<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> {{surah.name}} </ion-title>
    <ion-buttons slot="end">
      <ion-button
        (click)="toggleHifzMode()"
        slot="end"
        [ngClass]="!hMode?'emphasize-btn':''"
      >
        <ion-icon
          slot="icon-only"
          [name]="hMode?toggleIconOutline('eye'):toggleIconOutline('eye-outline')"
        ></ion-icon>
      </ion-button>
      <ion-button
        *ngIf="translationExists"
        (click)="translationMode(true)"
        slot="end"
        [ngClass]="tMode?'emphasize-btn':''"
      >
        <ion-icon
          slot="icon-only"
          [name]="tMode?toggleIconOutline('language-outline'):toggleIconOutline('language')"
        ></ion-icon>
      </ion-button>

      <ion-button id="popover-trigger-button" slot="end">
        <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ar content-wrapper">
    <ng-container
      class="ion-text-center"
      *ngIf="currentPage==1 && lines.length<15"
    >
      <div
        class="filler-lines"
        *ngFor="let line of [].constructor(15-lines.length-2)"
      ></div>
      <div class="surah-name centered-table-text">
        {{surah.name.split(' ')[1]}}
      </div>
      <div class="bism centered-table-text">﷽</div>
    </ng-container>

    <div
      *ngFor="let line of lines;let i = index"
      id="line_{{i}}"
      (click)="openTrans($event,i)"
    >
      <span> {{line}} </span>
    </div>

    <ng-container
      *ngIf="currentPage==pages.length && pages.length!=1 && lines.length<15"
    >
      <div
        class="filler-lines"
        *ngFor="let line of [].constructor(15-lines.length)"
      ></div>
    </ng-container>
  </div>

  <div class="popup ion-text-center">
    <div class="popup-header"></div>
    <div class="popup-text"></div>
    <ion-button
      style="font-size: x-small"
      fill="outline"
      size="small"
      color="dark"
      class="cross"
    >
      <ion-icon slot="icon-only" name="close"></ion-icon>
    </ion-button>
  </div>

  <ion-popover
    [isOpen]="isPopoverOpen"
    trigger="popover-trigger-button"
    side="bottom"
  >
    <ng-template>
      <ion-content>
        <div>
          <ion-list lines="none">
            <ion-item>
              <ion-button (click)="changeFontSize(1)" slot="start" fill="clear">
                <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
              </ion-button>
              <ion-label>Font Size</ion-label>
              <ion-button (click)="changeFontSize(-1)" slot="end" fill="clear">
                <ion-icon
                  slot="icon-only"
                  name="remove-circle-outline"
                ></ion-icon>
              </ion-button>
            </ion-item>
            <ion-item button (click)="showSurahInfo()">
              <ion-icon slot="start" name="information"></ion-icon>
              <ion-label>About Surah</ion-label>
            </ion-item>
          </ion-list>
        </div>
      </ion-content>
    </ng-template>
  </ion-popover>
</ion-content>
<ion-footer>
  <div class="btmNav">
    <ion-button
      shape="round"
      fill="clear"
      [disabled]="currentPage==pages.length"
      (click)="goToPage(1)"
    >
      <ion-icon name="chevron-back-circle-outline"></ion-icon>
    </ion-button>
    <ion-label style="font-size: small"
      >Page {{currentPage}} of {{pages.length}}
    </ion-label>
    <ion-button
      shape="round"
      fill="clear"
      [disabled]="currentPage==1"
      (click)="goToPage(-1)"
    >
      <ion-icon name="chevron-forward-circle-outline"></ion-icon>
    </ion-button>
  </div>
</ion-footer>
