<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Listen to Recitations</ion-title>    
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-input type="number" placeholder="Ayah number" #numValue></ion-input>
<ion-button (click)="listen(numValue.value)">
  <ion-icon slot="start" name="play-outline"></ion-icon>
  Play  
</ion-button>
<ion-spinner *ngIf="spin" name="bubbles"></ion-spinner>
<audio [src]="audioSrc" #audioEl id="audio"></audio>
</ion-content>
