ion-searchbar {
  padding-bottom: 0;
}
.top-wrapper {
  // padding: 10px;
}
.active {
  background: var(--success-light);
}
.player-wrapper {
  position: fixed;
  bottom: 0;
  z-index: 5;
  text-align: center;
  padding-top: 3px;
  width: 100%;
  background: #ffe2bd;
  // audio {
  //   border: 1px solid;
  //   border-radius: 50px;
  // }
}
.labelled-btn-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  ion-button {
    --padding-bottom: 0;
  }
  ion-label {
    font-size: x-small;
  }
}
.qari-selector {
  --background: var(--success-light);
}
.aud-wrapper {
  margin-bottom: 100px;
}
.total {
  text-align: center;
  background: var(--ion-color-dark);
  color: var(--ion-color-light);
  width: 60px;
  margin: 5px auto;
  padding: 3px;
  border-radius: 3px;
}
