<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <div class="header-controls">
      <ion-input
        type="text"
        [min]="1"
        [max]="114"
        (keyup.enter)="jumpToSurah($event.target.value)"
        placeholder="Surah no."
        [(ngModel)]="surahNumberField"
      ></ion-input>
      <ion-input
        #juzInput
        type="text"
        [min]="1"
        [max]="114"
        (keyup.enter)="jumpToJuz($event.target.value)"
        placeholder="Juz no."
        [(ngModel)]="juzNumberField"
      ></ion-input>
      <ion-select
        [disabled]="!juzInput"
        value="0"
        (ionChange)="jumpToJuz(juzInput.value,$event.target.value)"
        placeholder="Section"
      >
        <ion-select-option [value]="0">Start</ion-select-option>
        <ion-select-option [value]="0.25">¼</ion-select-option>
        <ion-select-option [value]="0.5">½</ion-select-option>
        <ion-select-option [value]="0.75">¾</ion-select-option>
        <ion-select-option [value]="1">End</ion-select-option>
      </ion-select>
      <ion-select
        slot="end"
        value="imgQuality"
        [(ngModel)]="imgQuality"
        (ionChange)="loadImg(page,imgQuality)"
        placeholder="Image Quality"
      >
        <ion-select-option [value]="ImageQuality.Low">Low</ion-select-option>
        <ion-select-option [value]="ImageQuality.High">High</ion-select-option>
        <ion-select-option [value]="ImageQuality.HD">HD</ion-select-option>
      </ion-select>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-progress-bar
    type="indeterminate"
    reversed="true"
    *ngIf="loading"
    color="primary"
  ></ion-progress-bar>
  <ion-img [src]="url"></ion-img>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="btmNav">
      <ion-button
        shape="round"
        fill="clear"
        [disabled]="page > 616"
        (click)="loadImg((+page)+1,imgQuality)"
      >
        <ion-icon name="chevron-back-circle-outline"></ion-icon>
      </ion-button>
      <ion-searchbar
        (keyup.enter)="loadImg(page,imgQuality)"
        type="number"
        placeholder="Page number..."
        [(ngModel)]="page"
        mode="ios"
        class="page-number-input"
      ></ion-searchbar>
      <ion-button
        shape="round"
        fill="clear"
        [disabled]="page<0"
        (click)="loadImg(page-1,imgQuality)"
      >
        <ion-icon name="chevron-forward-circle-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
