ion-header {
  font-size: small;
  height: 50px;
  ion-toolbar {
    height: 50px;
  }
  .header-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.page-number-input {
  padding: 0;
  max-width: 100px;
  margin: 0 auto;
}
