<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <div class="header-controls">
      <ion-searchbar
        (keyup.enter)="loadImg(page,imgQuality)"
        type="number"
        min="1"
        max="618"
        placeholder="Page number..."
        [(ngModel)]="page"
        mode="ios"
      ></ion-searchbar>
      <ion-input
        type="text"
        (keyup.enter)="jumpToSurah($event.target.value)"
        placeholder="Surah no."
      ></ion-input>
      <ion-select
        slot="end"
        value="imgQuality"
        [(ngModel)]="imgQuality"
        (ionChange)="loadImg(page,imgQuality)"
        placeholder="Image Quality"
      >
        <ion-select-option [value]="ImageQuality.Low">Low</ion-select-option>
        <ion-select-option [value]="ImageQuality.High">High</ion-select-option>
        <ion-select-option [value]="ImageQuality.HD">HD</ion-select-option>
      </ion-select>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img [src]="url"></ion-img>
</ion-content>
