ion-header {
  font-size: small;
  height: 50px;
  ion-toolbar {
    height: 50px;
  }
  .header-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .juz-controls-wrapper {
      position: relative;
      .small-label {
        font-size: x-small;
        color: var(--ion-color-medium);
        bottom: 0;
        left: 7px;
      }
      .juz-controls {
        display: flex;
        .juz-section-dropdown {
          width: 85px;
        }
      }
    }
  }
}
.page-number-input {
  max-width: 100px;
  text-align: center;
  background: var(--ion-color-light);
  border-radius: 30px;
}
.btmNav {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.img-element {
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  height: 100%;
  width: 100%;
}
.image-wrapper {
  display: flex;
  justify-content: center;
  height: 100%;
  ion-img {
    height: calc(100vh - 110px);
  }
}
