<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'surahDetails.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="surahForm" (ngSubmit)="submit()">
    <ion-item>
      <ion-label position="stacked">{{ 'surahDetails.arabicText' | translate }}</ion-label>
      <ion-textarea formControlName="arabic" class="ar-text2"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">{{ 'surahDetails.urduText' | translate }}</ion-label>
      <ion-textarea formControlName="urdu" class="ur"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">{{ 'surahDetails.surahNo' | translate }}</ion-label>
      <ion-input formControlName="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">{{ 'surahDetails.surahName' | translate }}</ion-label>
      <ion-input formControlName="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">{{ 'surahDetails.revelationType' | translate }}</ion-label>
      <ion-input
        placeholder="Makki/Madani"
        formControlName="revelationType"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">{{ 'surahDetails.startsOnLine' | translate }}</ion-label>
      <ion-input formControlName="startLineNo"></ion-input>
    </ion-item>

    <ion-button
      type="submit"
      expand="block"
      class="ion-padding-horizontal ion-margin-vertical"
      [disabled]="!surahForm.valid"
    >
      {{ 'common.save' | translate }}
    </ion-button>

    <ion-button
      *ngIf="id"
      (click)="delete()"
      type="button"
      expand="block"
      class="ion-padding-horizontal ion-margin-vertical"
      color="danger"
    >
      {{ 'common.delete' | translate }}
    </ion-button>
  </form>
</ion-content>
