.verse {
  font-size: large;
}
.ayah-word {
  margin-inline-end: 0.1rem;
}
p.verse-words span {
  display: inline-flex;
  padding: 0.5rem;
  background: var(--ion-color-secondary);
  margin: 0.25rem;
  color: var(--ion-color-primary);
}
.verse-words-table {
  width: 100%;
  .translation,
  .transliteration,
  .word {
    text-align: start;
  }
}
.verse-key {
  text-decoration: underline dashed var(--ion-color-medium);
}
