/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
  font-family: "Indopak";
  // src: url("assets/fonts/Naskh-IndoPak.woff2");
  src: url("assets/fonts/AlQuran-IndoPak-by-QuranWBW.v.4.0-WL.woff2");
}
@font-face {
  font-family: "Muhammadi";
  src: url("assets/fonts/muhammadi.ttf");
}
@font-face {
  font-family: "Mehr";
  src: url("assets/fonts/Mehr.ttf");
}

@font-face {
  font-family: "UrduChar";
  // font-family: "MuhammadiChar";
  src: url("assets/fonts/muhammadi.ttf");
  unicode-range: U+0600-06FF, U+0750-077F, U+FB50-FDFF, U+FE70-FEFF;
}

ion-title.title-large {
  --color: white;
}

.ar-text {
  font-family: "Indopak";
}

.ar-text2 {
  font-family: "Muhammadi", "IndoPak", "Tahoma";
  direction: rtl;
}

.ur {
  font-family: "Mehr", "Jameel Noori Nastaleeq", "Segoe UI", Tahoma, Verdana,
    sans-serif;
  direction: rtl;
  font-size: 13px;
}

span.ayah_mark {
  display: inline-block !important;
}

.total {
  text-align: center;
  background: var(--ion-color-dark);
  color: var(--ion-color-light);
  width: 60px;
  margin: 5px auto;
  padding: 3px;
  border-radius: 3px;
}
.custom-alert button.alert-button-group {
  width: 33.33%;
}
.delete-btn {
  color: var(--ion-color-danger) !important;
}
.add-btn {
  background-color: var(--ion-color-primary) !important;
  color: var(--ion-color-light) !important;
  border-radius: 10% !important;
}

.custom-alert {
  .alert-button-group .button-inner {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .alert-button-group-vertical {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

.trans {
  font-family: "UrduChar", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  user-select: text;
  .alert-wrapper {
    min-width: 85vw;
  }
  .alert-message {
    max-height: fit-content;
  }
  .alert-button-group-vertical {
    flex-direction: row;
    user-select: none;
  }
}
