<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Juz</ion-title>
    <ion-buttons slot="end">
      <div class="last-synced-time ion-margin-end">
        <span class="date">{{lastSyncedAt | date: 'd/M/yy'}}</span>
        <span class="time">{{lastSyncedAt | date: 'h:mm:ss a'}}</span>
      </div>
      <div class="sync-btn-wrapper">
        <ion-button
          (click)="fetchAndSaveInDeviceStorage('Quran',true)"
          fill="clear"
          color="medium"
          size="small"
        >
          <ion-icon *ngIf="!syncing" slot="start" name="sync"></ion-icon>
          <ion-spinner *ngIf="syncing" name="crescent"></ion-spinner>
          Sync
        </ion-button>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-text-center ion-margin-bottom" style="font-style: italic">
    <ion-label
      >Read full Quran or jump to any juz. Your memorization under
      <a [routerLink]="['/memorize']"> Memorize</a> page is also hightlighted
      here in green.
    </ion-label>
  </div>
  <div class="juz-grid-wrapper">
    <div
      class="juz-btn juz-btn-full"
      (click)="gotoReadJuz('Quran')"
      [ngStyle]="{'background': totalMemorizeStyle(),'background-position': 'left'}"
      [style]="'--bookmarkPercentage:'+(unicodeBookmarkPageNum/ 611) * 100+'%'"
      attr.data-bookmarkPercentage="{{((unicodeBookmarkPageNum/ 611) * 100).toFixed(1) + '%'}}"
    >
      <div class="juz-heading-en">Read Complete Quran</div>
      <div class="juz-number">1-30</div>
      <div class="juz-heading-ur ur">مکمل قرآن پڑھیے</div>
    </div>
    <div
      *ngFor="let j of juzPages;let i = index"
      [class]="'juz-btn juz'+(i+1)+'-btn'"
      [ngClass]="{'hifz-complete': findMemorizeItem(i+1)=='100.0'}"
      [ngStyle]="{'background': returnStyle(i), 'transition':'all 1s ease'}"
      (click)="navigate(j,i+1)"
    >
      <div class="juz-heading-en">JUZ</div>
      <div class="juz-number">{{i+1}}</div>
      <div class="juz-heading-ur ur">پارہ</div>
    </div>
  </div>
</ion-content>
