.juz-grid-wrapper {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 15px;
  .juz-btn:first-child {
    grid-column: 1/4;
  }
  .juz-btn {
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--ion-color-light);
    cursor: pointer;
    padding: 5px;
    position: relative;
    &.hifz-complete::after {
      content: "🎉";
      position: absolute;
      top: -10px;
      right: -5px;
      font-size: small;
    }
    ion-button {
      position: absolute;
      right: -18px;
      top: -22px;
      font-size: xx-small;
    }
  }
  .juz-btn:hover {
    background: aliceblue !important;
  }
  .juz-btn-full::after {
    content: attr(data-bookmarkPercentage);
    background: var(--ion-color-primary);
    color: var(--ion-color-primary);
    position: absolute;
    bottom: 0;
    right: 0;
    width: var(--bookmarkPercentage);
    height: 1px;
    font-size: 6px;
  }
  .juz-heading-en {
    text-transform: capitalize;
    font-size: xx-small;
    letter-spacing: 2px;
    color: var(--ion-color-medium);
  }
  .juz-number {
    font-size: x-large;
    color: var(--ion-color-primary);
  }
  .juz-heading-ur {
    color: var(--ion-color-medium);
    margin-top: -8px;
  }
}
