<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Juz</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-text-center ion-margin-bottom" style="font-style: italic">
    <ion-label
      >Read full Quran or jump to any juz. Your memorization under
      <a [routerLink]="['/memorize']"> Memorize</a> page is also hightlighted
      here in green.
    </ion-label>
  </div>
  <div class="juz-grid-wrapper">
    <div class="juz-btn" (click)="gotoReadJuz('Quran')">
      <ion-button
        (click)="fetchAndSaveInDeviceStorage('Quran')"
        fill="clear"
        color="medium"
      >
        <ion-icon slot="icon-only" name="sync"></ion-icon>
      </ion-button>
      <div class="juz-heading-en">Read Complete Quran</div>
      <div class="juz-number">1-30</div>
      <div class="juz-heading-ur ur">مکمل قرآن پڑھیے</div>
    </div>
    <div
      *ngFor="let j of juzPages;let i = index"
      [class]="'juz-btn juz'+(i+1)+'-btn'"
      [ngStyle]="{'background': returnStyle(i), 'animation':'all ease 1s'}"
      (click)="navigate(j,i+1)"
    >
      <div class="juz-heading-en">JUZ</div>
      <div class="juz-number">{{i+1}}</div>
      <div class="juz-heading-ur ur">پارہ</div>
    </div>
  </div>
</ion-content>
