<ion-header>
  <ion-toolbar color="primary">
    <ion-title> Hifz Helper </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="darkModeToggle()">
        <ion-icon slot="start" name="contrast"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div
    class="top-banner-wrapper"
    (click)="!banner.button.show && open(banner.clickAction)"
  >
    <div
      class="ion-margin ion-padding top-banner"
      [style.box-shadow]="banner.style.boxShadow"
      [style.background-image]="banner.style.backgroundImage"
      [style]="banner.style.common"
    >
      <div class="banner-inner">
        <ion-text [innerHTML]="banner.text"></ion-text>
        <div class="ion-text-right ion-no-margin" *ngIf="banner.button.show">
          <ion-button
            size="small"
            [fill]="banner.button.fill"
            [color]="banner.button.color"
            (click)="open(banner.clickAction)"
          >
            <ion-icon
              *ngIf="banner.button.icon.show"
              [src]="banner.button.icon.src"
              [name]="banner.button.icon.src"
              [color]="banner.button.icon.color"
              slot="start"
            >
            </ion-icon>
            {{ banner.button.text }}
          </ion-button>
        </div>
      </div>
    </div>
  </div>

  <ion-list lines="none">
    <ion-item button routerLink="/surahs">
      <ion-icon name="list" slot="start" color="medium"></ion-icon>
      <ion-label color="medium"> Surahs </ion-label>
      <ion-label
        slot="end"
        color="medium"
        style="font-style: italic; font-size: small"
        >In Progress</ion-label
      >
    </ion-item>
    <ion-item button routerLink="/juz">
      <ion-icon name="apps-outline" slot="start"></ion-icon>
      <ion-label> Full Quran (Juz & Surah) </ion-label>
    </ion-item>
    <ion-item button routerLink="/scanned">
      <ion-icon name="images-outline" slot="start"></ion-icon>
      <ion-label> Scanned Version </ion-label>
    </ion-item>
    <ion-item button routerLink="/memorize">
      <ion-icon name="bulb-outline" slot="start"></ion-icon>
      <ion-label> Memorize </ion-label>
    </ion-item>
    <ion-item button routerLink="/listen">
      <ion-icon name="volume-medium-outline" slot="start"></ion-icon>
      <ion-label> Listen to Recitations </ion-label>
    </ion-item>
    <ion-item button (click)="open('download')">
      <ion-icon name="download-outline" slot="start"></ion-icon>
      <ion-label> Download Section</ion-label>
    </ion-item>
  </ion-list>

  <hr />

  <ion-list lines="none">
    <ion-item button (click)="open('help')">
      <ion-icon name="help-circle-outline" slot="start"></ion-icon>
      <ion-label> Help </ion-label>
    </ion-item>
    <ion-item button (click)="open('about')">
      <ion-icon name="information-circle-outline" slot="start"></ion-icon>
      <ion-label> About </ion-label>
    </ion-item>
    <ion-item button (click)="open('progress')">
      <ion-icon name="stats-chart-outline" slot="start"></ion-icon>
      <ion-label> Progress & Future Plans</ion-label>
    </ion-item>
  </ion-list>

  <div class="links">
    <h6>LINKS</h6>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button
            fill="clear"
            href="https://play.google.com/store/apps/dev?id=8917194327395382081"
          >
            <ion-icon slot="icon-only" name="logo-google-playstore"></ion-icon>
          </ion-button>
          <br />
          <span>Our Apps</span>
        </ion-col>
        <ion-col>
          <ion-button fill="clear" href="https://www.sarbakaf.com">
            <ion-icon slot="icon-only" name="globe"></ion-icon>
          </ion-button>
          <br />
          <span>Website</span>
        </ion-col>
        <ion-col>
          <ion-button fill="clear" href="https://t.me/ShakesVision">
            <ion-icon slot="icon-only" name="paper-plane"></ion-icon>
          </ion-button>
          <br />
          <span>Telegram</span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
