<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Quran 15 Lines
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-card-content>
    We are digitizing the 15 Lines Quran, which is a work in progress. You can also help us complete this project.
    <ion-button fill="outline">Know More</ion-button>
  </ion-card-content>
</ion-card>
  <ion-item button routerLink="/surahs">
    Surahs
  </ion-item>
  <ion-item button routerLink="/memorize">
    Memorize
  </ion-item>
  <ion-item button routerLink="/help">
    Help
  </ion-item>
  <ion-item button routerLink="/about">
    About
  </ion-item>

</ion-content>